.about-us__section {
  padding: 40px 0 474px;
  background-color: var(--color-pink);

  @mixin sm {
    padding: 120px 0 427px;
  }
}

.about-us__cont {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column-reverse;

  @mixin xxl {
    gap: 64px;
    flex-direction: row;
  }
}

.about-us__content {
  flex: 1;
  color: var(--color-white);
}

.about-us__picture {
  flex: 1;
}

.about-us__caption {
  margin-top: 0;

  @mixin sm {
    margin-top: 21px;
  }
}

