.contact__section {
  background: url(../../assets/images/contact-us-bg.jpg) no-repeat center/cover;
}

.contact__cont {
  display: flex;
  align-items: center;
  flex-direction: column;

  @mixin xxl {
    flex-direction: row;
  }
}

.contact__section__content {
  flex: 1;
  padding: 40px 24px;
  color: var(--color-white);

  @mixin sm {
    padding: 112px 117px 112px 82px;
  }
}

.contact__heading {
  width: 80%;
}

.contact__image-container {
  flex: 1;
}

.contact__button {
  background-color: var(--color-white);
  border: 1px solid var(--color-rose);
}

.contact__link {
  color: var(--color-midnight) !important;
}
