.graduate__section {
  position: relative;
  margin-top: -307px;
}

.graduate__cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  direction: rtl;
}

.graduate__content {
  padding: 64px 64px 0 64px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  direction: ltr;
  background-color: var(--color-white);
}

.graduate__caption {
  color: var(--color-pink);
}

.graduate__heading {
  color: var(--color-purple);
}

.graduate__description {
  color: var(--color-black);
}

.graduate__picture {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}