.sectors__section {
  padding: 48px 0 40px;
  background: url(../../assets/images/sectors-bg.png) no-repeat;
  background-size: cover;

  @mixin sm {
    padding: 86px 0;
  }
}

.sectors__caption {
  color: var(--color-pink);
}

.sectors__heading {
  color: var(--color-purple);
}

.sectors__button {
  background-color: var(--color-pink);
  width: 100%;
  text-align: center;

  @mixin sm {
    width: max-content;
  }
}

.sectors__link {
  color: var(--color-white);
  text-transform: uppercase;
}

.sectors__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;

  @mixin lg {
    justify-content: initial;
  }
}

.sectors__swipe-buttons {
  position: static;
  margin: 0;
}

.sectors__swipe-buttons .sectors__swipe-button {
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
}

.sectors__swipe-buttons .sectors__swipe-button:hover {
  transform: scale(0.9);
}

.sectors__swipe-buttons .sectors__swipe-button:active {
  transform: scale(0.8);
}

.sectors__swipe-buttons .sectors__swipe-button-prev {
  border: 1px solid var(--color-pink);
}

.sectors__swipe-buttons .sectors__swipe-button-next {
  background-color: var(--color-pink);
}


/* SWIPER */
.swiper {
  display: block;
  width: 100%;
  height: auto;
  user-select: none;
}

.sectors__swiper-wrapper {
  display: flex;
  align-items: center;
}

.sectors__swiper-slide {
  height: 550px;
  position: relative;
  margin: 56px 0;
  color: var(--color-midnight);
  background-color: var(--color-white);
  border: 1px solid #d0d1d3;
  border-radius: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;

  @mixin md {
    height: auto;
  }

  &.swiper-slide-blank {
    border: 0;
    background: none;
  }

  &.swiper-slide-active {
    flex-basis: auto;
    height: 550px;
    color: var(--color-white);
    background-color: var(--color-midnight);
    transform: scale(1);

    @mixin md {
      height: auto;
    }

    .swiper-slide__button {
      border-color: var(--color-white);
      background-color: transparent;

      svg path {
        fill: var(--color-white);
      }
    }

    .swiper-slide__description {
      display: block;
    }

    .swiper-slide__img__container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../assets/images/active-slide.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
  }
}

.swiper-slide-mobile-active {
  height: 550px;
  color: var(--color-white);
  background-color: var(--color-midnight);
  transform: scale(1);

  @mixin md {
    height: auto;
  }

  .swiper-slide__button {
    border-color: var(--color-white);
    background-color: transparent;

    svg path {
      fill: var(--color-white);
    }
  }

  .swiper-slide__description {
    display: block;
  }

  .swiper-slide__img__container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/active-slide.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
  }
}

.swiper-slide:not(.swiper-slide-active) {
  transform: scale(1);
}

.swiper-slide__img__container {
  position: relative;
  width: 100%;
  height: 220px;
  padding-bottom: 56.25%;
}

.swiper-slide__img__container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}