<div class="burger-menu">
  <div class="burger-menu__top">
    <p class="burger-menu__top__title">Menu</p>
    <div class="burger-menu__close">
      <img src="/src/assets/images/close-img.svg" alt="close menu" />
    </div>
  </div>
  <div class="burger-menu__links">
    <a class="burger-menu__link" href="#!">Home</a>
    <a class="burger-menu__link" href="#!">About Us</a>
    <a class="burger-menu__link" href="#!"
      >Aspirational Graduates Programme</a
    >
    <a class="burger-menu__link" href="#!">For Candidates</a>
    <a class="burger-menu__link" href="#!">For Schools</a>
    <div class="burger-menu__link-advanced" href="#!">
      <div class="burger-menu__link-advanced__title">
        <a class="burger-menu__link" href="#!">Search Our Jobs</a>
        <img src="/src/assets/images/collapse-links-img.svg" alt="collapse" />
      </div>
      <div class="burger-menu__link-advanced__content">
        <a class="burger-menu__link" href="#!">Aspirational Graduate</a>
        <a class="burger-menu__link" href="#!">Early Career Teacher</a>
        <a class="burger-menu__link" href="#!">Jobs by Location </a>
        <a class="burger-menu__link" href="#!">Primary School </a>
        <a class="burger-menu__link" href="#!">Secondary School </a>
        <a class="burger-menu__link" href="#!"
          >Special Educational Needs (SEN)</a
        >
        <a class="burger-menu__link" href="#!">Support Staff </a>
        <a class="burger-menu__link" href="#!">Teaching Assistant</a>
      </div>
    </div>
    <a class="burger-menu__link" href="#!">Search Our Talent Pool</a>
  </div>
  <div class="burger-menu__bottom">
    <div class="burger-menu__bottom__contact">
      <a href="#!" class="contact-us__call">
        <img src="/src/assets/images/call-us.svg" alt="call us" />
        <div class="contact-us__title">
          <p>0203 329 0055</p>
        </div>
      </a>
      <a href="#!" class="contact-us__email">
        <img src="/src/assets/images/email-us.svg" alt="email us" />
        <div class="contact-us__title">
          <p>info@rileypersonnel.com</p>
        </div>
      </a>
    </div>
  </div>
</div>