:root {
  --font-main: "New Order", sans-serif;
  --body-color: #f3f3f3;
  --color-black: #363638;
  --color-white: #ffffff;
  --color-midnight: #560b75;
  --color-purple: #8000b3;
  --color-lavender: #B34CE3;
  --color-pink: #c82a7a;
  --color-rose: #db509b;
}