@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
/* Import Statements */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
:focus {
  outline: 0;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
a:hover {
  text-decoration: none;
}
input, textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
label, button, input[type="submit"], input[type="button"] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
* {
  box-sizing: border-box;
}
:root {
  --font-main: "New Order", sans-serif;

  --color-black: #363638;
  --color-white: #ffffff;
  --color-midnight: #560b75;
  --color-purple: #8000b3;
  --color-pink: #c82a7a;
  --color-rose: #db509b;
}
@font-face {
  font-family: 'icomoon';
  src: url('../../assets/fonts/icomoon.eot?vnui8z');
  src: url('../../assets/fonts/icomoon.eot?vnui8z#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/icomoon.woff2?vnui8z') format('woff2'),
    url('../../assets/fonts/icomoon.ttf?vnui8z') format('truetype'),
    url('../../assets/fonts/icomoon.woff?vnui8z') format('woff'),
    url('../../assets/fonts/icomoon.svg?vnui8z#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
[class^='icon-'], [class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-down:before {
  content: '\e903';
}
.icon-arrow-up:before {
  content: '\e904';
}
.icon-arrow-left:before {
  content: '\e900';
}
.icon-arrow-right:before {
  content: '\e901';
}
.icon-linkedin:before {
  content: '\e902';
}
@font-face {
  font-family: 'New_Order_Light';
  src: url('../../assets/fonts/New_Order_Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'New_Order_Regular';
  src: url('../../assets/fonts/New_Order_Regular.otf') format('opentype');
  font-weight: 400; 
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'New_Order_Medium';
  src: url('../../assets/fonts/New_Order_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'New_Order_Semibold';
  src: url('../../assets/fonts/New_Order_Semibold.otf') format('opentype');
  font-weight: 600; 
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'New_Order_Bold';
  src: url('../../assets/fonts/New_Order_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
.text-button {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: normal;
  text-transform: none;
}
.filled-button-text {
  font-family: "Rubik", sans-serif;
  font-size: clamp(14px, calc(14px + 2.00 * ((100vw - 375px) / 901)), 16px);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: normal;
  text-transform: uppercase;
}
.caption-1 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 80px;
}
h3 {
  font-size: clamp(34px, calc(34px + 30.00 * ((100vw - 375px) / 901)), 64px);
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.2em;
}
@media (min-width: 640px) {
h3 {
    line-height: 72px
}
  }
h4 {
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 64px;
}
h5 {
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 54px;
}
h6 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 48px;
}
.subtitle-2 {
  font-size: clamp(18px, calc(18px + 10.00 * ((100vw - 375px) / 901)), 28px);
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: clamp(36px, calc(1.4empx + NaN * ((100vw - 375px) / 901)), 1.4empx);
}
.body-text-1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 28px;
}
.body-text-1 + p {
    margin-top: 12px;
  }
.body-text-2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 26px;
}
.body-text-2 + p {
    margin-top: 12px;
  }
.fp-watermark {
  display: none;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--cl-primary) transparent;
}
body {
  position: relative;
  min-width: 320px;
  margin: auto;

  color: var(--cl-black);
  font-family: var(--font-main);

  overflow-x: hidden;

  min-height: calc(100 * var(--vh));
  display: flex;
}
body::-webkit-scrollbar {
    width: 6px;
  }
body::-webkit-scrollbar-track {
    background: var(--cl-light-grey);
    border-radius: 0;
  }
body::-webkit-scrollbar-thumb {
    background: var(--cl-red);
    border-radius: 0;
  }
.swiper-wrapper {
  left: 0 !important;
}
#site {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.cont {
  margin: 0 auto;
  max-width: 1276px;
  width: calc(100vw - 164px);
}
@media not all and (min-width: 1024px) {
.cont {
    width: calc(100vw - 48px)
}
  }
section {
  position: relative;
}
.logo {
  transition: 0.3s ease;
}
.logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
.logo:hover {
    transform: scale(1.06);
  }
@media not all and (min-width: 1024px) {
.logo{
    width: 127px;
  }
  }
#bold-credits {
  width: 148px;
  transition: ease-in-out 0.25s;
}
#bold-credits::before, #bold-credits::after {
    display: none;
  }
#bold-credits:hover {
    transform: scale(1.1);
  }
@media not all and (min-width: 640px) {
#bold-credits{
    width: 159px;
  }
  }
#site.cookie-terms-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
#site.cookie-terms-page .main {
    flex-grow: 1;
    padding: 0;
  }
.cookie-terms-section {
  padding: clamp(140px, calc(140px + 110.00 * ((100vw - 375px) / 901)), 250px) 0 clamp(50px, calc(50px + 100.00 * ((100vw - 375px) / 901)), 150px);
}
.cookie-terms-section p {
    padding: 0;
    margin-bottom: 10px;
  }
.cookie-terms-section ul, .cookie-terms-section ol {
    padding-left: 20px;
  }
.cookie-terms-section ul li p, .cookie-terms-section ol li p {
        margin-bottom: 0;
      }
.cookie-terms-section ul {
    list-style: circle;
  }
.cookie-terms-section ol {
    list-style: decimal;
  }
.cookie-terms-section a {
    display: inline;
    text-decoration: underline;
    transition: 0.2s;
  }
.cookie-terms-section a:hover {
      opacity: 0.7;
    }
.single-page-404 {
  min-height: 100vh;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.single-page-404 h1, .single-page-404 p {
    margin-bottom: 15px;
    padding: 0;
  }
.single-page-404 a {
    display: inline-block;
    margin-top: 20px;
  }
/* CUSTOM COMMON STYLES */
/* SWIPER */
.swiper {
  width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.swiper-slide {
  margin: 56px 0;
  color: var(--color-midnight);
  background-color: var(--color-white);
  border: 1px solid #d0d1d3;
  border-radius: 20px;
  cursor: pointer;
}
.swiper-slide__img__container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.swiper-slide__img__container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.swipe-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
@media (min-width: 640px) {
.swipe-buttons {
    position: absolute;
    right: 82px;
    bottom: 90px;
    gap: 16px
}
  }
.swipe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 1000px;
  background-color: var(--color-white);
  cursor: pointer;
}
@media not all and (min-width: 1024px) {
.swipe-button {
    width: 48px;
    height: 48px
}
  }
.swipe-button-previous {
  transform: rotate(180deg);
}
.swiper-slide__interact {
  display: flex;
  align-items: center;
  gap: 8px;
}
.swiper-slide__button {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color-pink);
}
.swiper-slide__content {
  padding: 32px;
}
.swiper-slide__heading {
  font-size: 24px;
  margin-bottom: 24px;
}
/* SECTION */
.section__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section__content .section__buttons {
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 0;
  }
.section__content .section__buttons > :first-child {
    margin-right: 16px;
  }
.section__heading {
  margin-top: 20px;
}
.section__description {
  margin-top: 24px;
}
.section__picture {
  border-radius: 40px;
}
/* COMMON */
.link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 14.5px 32px;
  color: var(--color-midnight);
}
.button, .button-transparent {
  display: inline-block;
  border-radius: 1000px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button:hover {
  background-color: var(--color-rose);
}
.button-transparent:hover {
  background-color: var(--color-rose);
}
.button-transparent {
  color: var(--color-midnight);
}
.button-transparent .link {
  color: var(--color-white);
}
.button, .button-transparent {
  border: 1px solid var(--color-rose);
  background-color: transparent;
}
.button-transparent {
  border-color: var(--color-white);
}
.burger {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.burger:hover {
  transform: scale(1.1);
}
/* Common effects */
[data-view] {
  transition-duration: var(--view-speed);
  transition-timing-function: var(--view-easing);
}
[data-view].animated {
    opacity: 1;
    transform: translateZ(0);
  }
[data-view='fade'], [data-view^='fade'], [data-view='zoom'], [data-view^='zoom'] {
  opacity: 0;
  transition-property: opacity, transform;
}
/* Slide effect */
[data-view='slide'], [data-view^='slide'] {
  transition-property: transform;
}
[data-view='slide'].animated, [data-view^='slide'].animated {
    transform: translateZ(0);
  }
/* Fade and slide effects */
[data-view='slide-tl'], [data-view='fade-tl'] {
  transform: translateY(100px) translateX(100px);
}
[data-view='slide-tr'], [data-view='fade-tr'] {
  transform: translateY(100px) translateX(-100px);
}
[data-view='slide-bl'], [data-view='fade-bl'] {
  transform: translateY(-100px) translateX(100px);
}
[data-view='slide-br'], [data-view='fade-br'] {
  transform: translateY(-100px) translateX(-100px);
}
[data-view='fade-l'], [data-view='slide-l'] {
  transform: translateX(100px);
}
[data-view='fade-r'], [data-view='slide-r'] {
  transform: translateX(-100px);
}
[data-view='fade-t'], [data-view='slide-t'] {
  transform: translateY(100px);
}
[data-view='fade-b'], [data-view='slide-b'] {
  transform: translateY(-100px);
}
/* Zoom effect */
[data-view^='zoom'].animated, [data-view^='zoom'].animated {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
[data-view='zoom'] {
  transform: scale(0.1);
}
[data-view='zoom-l'] {
  transform: translateX(100px) scale(0.1);
}
[data-view='zoom-tl'] {
  transform: translateY(100px) translateX(100px) scale(0.1);
}
[data-view='zoom-tr'] {
  transform: translateY(100px) translateX(-100px) scale(0.1);
}
[data-view='zoom-br'] {
  transform: translateY(-100px) translateX(-100px) scale(0.1);
}
[data-view='zoom-bl'] {
  transform: translateY(-100px) translateX(100px) scale(0.1);
}
[data-view='zoom-r'] {
  transform: translateX(-100px) scale(0.1);
}
[data-view='zoom-t'] {
  transform: translateY(100px) scale(0.1);
}
[data-view='zoom-b'] {
  transform: translateY(-100px) scale(0.1);
}
/* Rotate effect */
[data-view^='rotate'], [data-view^='rotate'] {
  opacity: 0;
  transform: rotate(180deg);
}
[data-view='rotate-l'] {
  transform: rotate(180deg) translateX(-100px);
}
[data-view='rotate-r'] {
  transform: rotate(180deg) translateX(100px);
}
[data-view='rotate-t'] {
  transform: rotate(180deg) translateY(-100px);
}
[data-view='rotate-b'] {
  transform: rotate(180deg) translateY(100px);
}
/* CUSTOM STYLES */
.header__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}
@media not all and (min-width: 1024px) {
.header__cont {
    padding: 20px 0
}
  }
.header__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__interact-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media not all and (min-width: 1024px) {
.header__interact-buttons {
    display: none
}
  }
.header__burger {
  padding: 8px;
  border: 2px solid #db509b;
  border-radius: 1000px;
}
.hero__section {
  padding-top: 223px;
  padding-bottom: 22px;
  background: url(../../assets/images/hero-bg.jpg) no-repeat center center;
  background-size: cover;
}
@media (min-width: 640px) {
.hero__section {
    padding: 158px 0
}
  }
.hero__content {
  width: 638px;
  color: var(--color-white);
}
@media not all and (min-width: 1024px) {
.hero__content {
    width: 100%
}
  }
.hero__heading span {
  display: inline-block;
  font-size: 72px;
  font-weight: 300;
  line-height: 1.25em;
  letter-spacing: -0.01em;
  padding-bottom: 0;
}
@media not all and (min-width: 1024px) {
.hero__heading span {
    font-size: 44px
}
  }
.hero__description {
  margin-top: 24px;
}
@media not all and (min-width: 1024px) {
.hero__description {
    margin-top: 12px
}
  }
.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
.hero__buttons .hero__button {
    width: 100%;
    text-align: center;
  }
@media (min-width: 640px) {
.hero__buttons{
    flex-direction: row;
    margin-top: 48px;
  }

    .hero__buttons .hero__button {
      width: -moz-max-content;
      width: max-content;
      text-align: left;
    }
  }
.hero__button {
  border-color: var(--color-white);
}
.hero__button:last-of-type {
  background-color: var(--color-white);
  color: var(--color-purple);
  transition: 0.3s transform ease;
}
.hero__button:last-of-type:hover {
  transform: translateX(5px);
}
.hero__link {
  color: inherit;
}
.hero__swipe-button {
  opacity: 0.5;
  box-shadow: 0px 2px 4px 0px #0000001f, 0px 6px 12px 0px #00000014;
}
.about-us__section {
  padding: 120px 0 427px;
  background-color: var(--color-pink);
}
.about-us__cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}
.about-us__content {
  color: var(--color-white);
}
.about-us__caption {
  margin-top: 21px;
}
.about-us__buttons {
  margin-bottom: 21px;
}
.graduate__section {
  position: relative;
  margin-top: -307px;
}
.graduate__cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  direction: rtl;
}
.graduate__content {
  padding: 64px 64px 0 64px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  direction: ltr;
  background-color: var(--color-white);
}
.graduate__caption {
  color: var(--color-pink);
}
.graduate__heading {
  color: var(--color-purple);
}
.graduate__description {
  color: var(--color-black);
}
.graduate__picture {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.sectors__section {
  padding: 86px 0;
  background: url(../../assets/images/sectors-bg.png) no-repeat center center;
  background-size: cover;
}
.sectors__caption {
  color: var(--color-pink);
}
.sectors__heading {
  color: var(--color-purple);
}
.sectors__button {
  background-color: var(--color-pink);
}
.sectors__link {
  color: var(--color-white);
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */
