<footer class="footer">
  <div class="cont footer__cont">
    <div class="footer__company">
      <div class="footer__company__logo">
        <img src="/src/assets/images/logo-footer.svg" alt="logo-footer" />
        <p class="footer__company__logo__description">
          Empowering Eduction Through Exceptional Talent
        </p>
      </div>
      <div class="button footer__company__button">
        <a class="link footer__company__link text-button" href="#!"
          >Contact Us</a
        >
      </div>
    </div>
  </div>
</footer>
