<header class="header">
  <div class="cont header__cont">
    <div class="logo">
      <a href="#!">
        <img
          class="header__logo"
          src="/src/assets/images/logo.svg"
          alt="logo"
        />
      </a>
    </div>
    <div class="header__buttons">
      <div class="header__interact-buttons">
        <div class="button header_button">
          <a class="link header__link filled-button-text" href="#!"
            >Contact us</a
          >
        </div>
        <div class="button header_button">
          <a class="link header__link filled-button-text" href="#!"
            >Submit CV</a
          >
        </div>
      </div>
      <div class="burger">
        <img
          class="header__burger"
          src="/src/assets/images/burger-menu.svg"
          alt="burger-menu"
        />
      </div>
    </div>
  </div>
  <include src="./html/components/burger-menu.html"></include>
</header>
